
.line {
  stroke: blue;
  fill:none;
  stroke-width: 3;
}

.axis path,
.axis line {
  fill: none;
  stroke: black;
  shape-rendering: crispEdges;
}

.axis text {
  font-size: 10px;
  font-family: sans-serif;
}

.text-label {
  font-size: 18px;
  font-family: sans-serif;
}
.line-chart
{
  border: 1px solid lightgray;
}
h1 {
  text-align: center;
}

p {
  text-align: center;
}
